<div class="clearfix"></div>
<footer class="footer text-center">
  <ul class="list-inline nav-social">
    <li>
      <a href="http://twitter.com/techwhileblack" target="_blank">
      	<i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="http://facebook.com/techwhileblack" target="_blank">
      	<i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="http://instagram.com/techwhileblack" target="_blank"><i class="fa fa-instagram"></i></a>
    </li>
  </ul>
  <div class="no-gutters">
    <div class="col-md-6 col-sm-12">
     <p> &copy; <%= Time.now.strftime('%Y') %>  Tech While Black | Market</p>
   </div>
   <div class="col-md-6 col-sm-12">
    <%= link_to 'Built on Thurman', 'https://thurmancms.herokuapp.com/' %> by <a href="http://dmml.tech/">dmml.tech</a>
   </div>
 </div>
</footer>
	
  <script type="text/javascript">
       $(document).ready(function() {
           $("#locations,#ulocations").tagit({
              availableTags: <%=raw locations_options.to_json %>,
              allowSpaces: true
          });
        });
       $(document).ready(function() {
           $("#markets,#umarkets").tagit({
              availableTags: <%=raw industry_options.to_json %>,
              allowSpaces: true
          });
        });
    </script>

</body>
</html>
