<div class="clearfix"></div>
<footer class="footer text-center">
  <ul class="list-inline nav-social">
    <li>
      <a href="http://twitter.com/techwhileblack" target="_blank">
      	<i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="http://facebook.com/techwhileblack" target="_blank">
      	<i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="http://instagram.com/techwhileblack" target="_blank"><i class="fa fa-instagram"></i></a>
    </li>
  </ul>
  <div class="no-gutters">
    <div class="col-md-6 col-sm-12">
     <p> &copy; <%= Time.now.strftime('%Y') %>  Tech While Black | Market</p>
   </div>
   <div class="col-md-6 col-sm-12">
    <%= link_to 'Built on Thurman', 'https://thurmancms.herokuapp.com/' %> by <a href="http://dmml.tech/">dmml.tech</a>
   </div>
 </div>
</footer>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>
	
  <script type="text/javascript">
     $(document).ready(function() {
         $("#locations,#ulocations").tagit({
            availableTags: <%=raw locations_options.to_json %>,
            allowSpaces: true
        });
      });
     $(document).ready(function() {
         $("#markets,#umarkets").tagit({
            availableTags: <%=raw industry_options.to_json %>,
            allowSpaces: true
        });
      });
  </script>
  <script>
    $('#mini').simplyCountable({
      counter:            '#minicounter',
      countType:          'characters',
      maxCount:           140,
      strictMax:          true,
    });

    $('#whatido').simplyCountable({
      counter:            '#whatcounter',
      countType:          'characters',
      maxCount:           300,
      strictMax:          true,
    });

    $('#lookingfor').simplyCountable({
      counter:            '#lookingcounter',
      countType:          'characters',
      maxCount:           300,
      strictMax:          true,
    });

    $('#achievement').simplyCountable({
      counter:            '#achievecounter',
      countType:          'characters',
      maxCount:           300,
      strictMax:          true,
    });

    $('#pitch').simplyCountable({
      counter:            '#pitchcounter',
      countType:          'characters',
      maxCount:           300,
      strictMax:          true,
    });


    $('#product').simplyCountable({
      counter:            '#procounter',
      countType:          'characters',
      maxCount:           1000,
      strictMax:          true,
    });

    $('#summary').simplyCountable({
      counter:            '#summarycounter',
      countType:          'characters',
      maxCount:           140,
      strictMax:          true,
    });

    $('#description').simplyCountable({
      counter:            '#descounter',
      countType:          'characters',
      maxCount:           500,
      strictMax:          true,
    });
  </script>

</body>
</html>
